<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::header-fragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</header>
<body class="hold-transition sidebar-mini">
<link th:href="@{/admin/plugins/editormd/css/editormd.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/tagsinput/jquery.tagsinput.css}" rel="stylesheet"/>
<link th:href="@{/admin/plugins/select2/select2.css}" rel="stylesheet"/>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">发布轮播图</h3>
                    </div>
                    <div class="card-body">

                        <!-- 几个基础的输入框，名称、分类等输入框 -->
                        <form id="blogForm" onsubmit="return false;">
                            <div class="form-group">
                                <p style="background-color: #f2dede;padding: 15px;">上传图片规格:(1368px*462px)</p>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">

                                    <th:block th:if="${null == banner}">
                                        <img id="bannerCoverImage" src="/admin/dist/img/img-upload.png"
                                             style="height: 64px;width: 64px;">
                                    </th:block>
                                    <th:block th:unless="${null == banner}">
                                        <img id="bannerCoverImage" th:src="'http://localhost:8888/'+${banner.img}"
                                             style="width:160px ;height: 120px;display:block;">
                                    </th:block>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <button class="btn btn-info" style="margin-bottom: 5px;" id="uploadCoverImage">
                                        <i class="fa fa-picture-o"></i>&nbsp;上传图片
                                    </button>
                                </div>
                            </div>
                            <div class="form-group" style="display:flex;">
                                <input type="hidden" id="bannerId" name="bannerId"
                                       th:value="${banner!=null and banner.id!=null }?${banner.id}: 0">
                                <input type="text" class="form-control col-sm-6" id="bannerDescrip" name="bannerDescrip"
                                       placeholder="*请输入描述"
                                       th:value="${banner!=null and banner.descrip!=null }?${banner.descrip}: ''"
                                       required="true">
                                &nbsp;&nbsp;
                            </div>


                            <div class="form-group">
                                <!-- 按钮 -->
                                &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                              id="saveButton">保存Banner图
                            </button>&nbsp;
                                &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                              id="cancelButton">返回Banner图列表
                            </button>&nbsp;
                            </div>
                        </form>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </div>

    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- editor.md -->
<script th:src="@{/admin/plugins/editormd/editormd.min.js}"></script>
<!-- tagsinput -->
<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- ajaxupload -->
<script th:src="@{/admin/plugins/ajaxupload/ajaxupload.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/banneredit.js}"></script>
</body>
</html>
