<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::header-fragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="container-">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">新增用户</h3>
                            </div> <!-- /.card-body -->
                            <div class="card-body">
                                <form role="form" id="userNameForm">
                                    <div class="form-group col-sm-8">
                                        <div class="alert alert-danger" id="updateUserName-info" style=" display: none;"></div>
                                    </div>
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>登陆名称</label>
                                        <input type="text" class="form-control" id="loginUserName"
                                               name="loginUserName"
                                               placeholder="请输入登陆名称 " required="true" >
                                    </div>
                                    <div class="form-group">
                                        <label>用户名称</label>
                                        <input type="text" class="form-control" id="nickName"
                                               name="nickName"
                                               placeholder="请输入昵称(如张三)" required="true" >
                                    </div>
                                    <div class="form-group">
                                        <label>密码</label>
                                        <input type="password" class="form-control" id="password"
                                               name="password"
                                               placeholder="请输入密码" required="true" >
                                    </div>
                                    <div class="form-group">
                                        <label>邮箱</label>
                                        <input type="text" class="form-control" id="email"
                                               name="email"
                                               placeholder="请输入邮箱" required="true" >
                                    </div>
                                    <div class="form-group">
                                        <label>手机号码</label>
                                        <input type="text" class="form-control" id="phone"
                                               name="phone"
                                               placeholder="请输入手机号码" required="true" >
                                    </div>

                                </form>
                                <div class="form-group">
                                    <!-- 按钮 -->
                                    &nbsp;<button class="btn btn-info float-right" style="margin-left: 5px;"
                                                  id="confirmButton">确认添加
                                </button>&nbsp;
                                    &nbsp;<button class="btn btn-secondary float-right" style="margin-left: 5px;"
                                                  id="cancelButton">返回用户列表
                                </button>&nbsp;
                                </div>
                            </div><!-- /.card-body -->
                        </div>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- public.js -->
<script th:src="@{/admin/dist/js/public.js}"></script>

<!-- tagsinput -->
<script th:src="@{/admin/plugins/tagsinput/jquery.tagsinput.min.js}"></script>
<!-- Select2 -->
<script th:src="@{/admin/plugins/select2/select2.full.min.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<!-- profile -->
<script th:src="@{/admin/dist/js/useredit.js}"></script>
</body>
</html>
