<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdxt.mapper.CooperativeResourcesMapper">
    <resultMap id="BaseResultMap" type="com.zdxt.model.CooperativeResources">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="kind" jdbcType="VARCHAR" property="kind"/>
        <result column="flag" jdbcType="INTEGER" property="flag"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, url, title, create_time, update_time, description,
        logo, kind, flag
    </sql>
    <select id="getTotalResources" parameterType="Map" resultType="int">
        select count(*) from cooperative_resources
        <if test='keyword!=null and keyword!= "0"'>
            where  kind = #{keyword}
        </if>
    </select>
    <select id="findResourcesList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cooperative_resources
        <if test='keyword!=null and keyword!= "0"'>
        where  kind = #{keyword}
        </if>
        order by create_time desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>

    <insert id="insert" parameterType="com.zdxt.model.IndexBanner">
        INSERT into cooperative_resources  (id, url,title, create_time, update_time, description,
        logo, kind, flag)
        VALUE (#{id},#{url},#{title},#{createTime},#{updateTime},#{description},#{logo},#{kind},#{flag});
    </insert>
    <select id="findCooperativeResourcesById"  parameterType="java.lang.String" resultType="com.zdxt.model.CooperativeResources">
        SELECT * FROM cooperative_resources
        where id = #{id}
    </select>
    <delete id="deleteResources">
        delete from cooperative_resources where id in
        <!-- foreach用于迭代数组元素
             open表示开始符号
             close表示结束符合
             separator表示元素间的分隔符
             item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
             #{ids}表示数组中的每个元素值
         -->
        <foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>

    <update id="updateResources"  parameterType="com.zdxt.model.CooperativeResources">
        update cooperative_resources
        <set>
            <if test="cooperativeResources.logo != null" >
                logo = #{cooperativeResources.logo,jdbcType=VARCHAR},
            </if>
            <if test="cooperativeResources.url!= null" >
                url = #{cooperativeResources.url,jdbcType=VARCHAR},
            </if>
            <if test="cooperativeResources.title!= null" >
                title = #{cooperativeResources.title,jdbcType=VARCHAR},
            </if>
            <if test="cooperativeResources.description!= null" >
                description = #{cooperativeResources.description,jdbcType=VARCHAR},
            </if>
            <if test="cooperativeResources.kind!= null" >
                kind = #{cooperativeResources.kind,jdbcType=VARCHAR},
            </if>
            <if test="cooperativeResources.flag!= null" >
                flag = #{cooperativeResources.flag,jdbcType=INTEGER},
            </if>
            <if test="cooperativeResources.createTime!= null" >
                create_time = #{cooperativeResources.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cooperativeResources.updateTime!= null" >
                update_time = #{cooperativeResources.updateTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        WHERE   id = #{cooperativeResources.id,jdbcType=VARCHAR}
    </update>
</mapper>