<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxt.mapper.IndexBannerMapper" >
    <resultMap id="pageMap" type="com.zdxt.model.IndexBanner">
        <id column="id" property="id"/>
        <result column="img" property="img"/>
        <result column="descrip" property="descrip"/>
    </resultMap>
    <select id="findAllBanner" parameterType="java.util.Map" resultMap="pageMap">
        select * from index_banner
    </select>
    <insert id="insert" parameterType="com.zdxt.model.IndexBanner">
        INSERT into index_banner  (id,img,descrip)
        VALUE (#{id},#{img},#{descrip});
    </insert>

    <update id="updateBanner"  parameterType="com.zdxt.model.IndexBanner">
        update index_banner
        <set>
            <if test="indexBanner.img != null" >
                img = #{indexBanner.img,jdbcType=VARCHAR},
            </if>
            <if test="indexBanner.descrip != null" >
                descrip = #{indexBanner.descrip,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE   id = #{indexBanner.id,jdbcType=VARCHAR}
    </update>
    <select id="findBannerById"  parameterType="java.lang.String" resultType="com.zdxt.model.IndexBanner">
        SELECT * FROM index_banner
        where id = #{id}
    </select>

    <delete id="deleteBanner">
        delete from index_banner where id in
        <!-- foreach用于迭代数组元素
             open表示开始符号
             close表示结束符合
             separator表示元素间的分隔符
             item表示迭代的数组，属性值可以任意，但提倡与方法的数组名相同
             #{ids}表示数组中的每个元素值
         -->
        <foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>
</mapper>