<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdxt.mapper.IndexNewsMapper" >

    <resultMap id="NewsBaseMap" type="com.zdxt.model.IndexNews">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="firstPicture" column="first_picture" jdbcType="VARCHAR"/>
        <result property="kind" column="kind" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="TINYINT"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <insert id="insertNews" parameterType="com.zdxt.model.IndexNews">
        insert into index_news
        (id,content,title,create_time,description,first_picture,kind,flag,author,level)
        VALUES (#{id},#{content},#{title},#{createTime},#{description},#{firstPicture},#{kind},#{flag},#{author},#{level})
    </insert>

    <update id="updataNews" parameterType="com.zdxt.model.IndexNews">
        UPDATE index_news
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="firstPicture != null">
                first_picture = #{firstPicture,jdbcType=VARCHAR},
            </if>
            <if test="kind != null">
                kind = #{kind,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <select id="findNewsList"  parameterType="Map" resultMap="NewsBaseMap">
        select * FROM index_news WHERE 1=1
        <if test="keyword != null">
            <if test="keyword != '0'.toString() and keyword != '1'.toString()">
                AND kind = #{keyword}
            </if>
        </if>
        <if test="keyword == '1'.toString()">
            AND level > 0
        </if>
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="findSearch"  parameterType="java.lang.String" resultMap="NewsBaseMap">
        select * FROM index_news WHERE flag=1
        <if test='search!=null'>
            AND (title like CONCAT('%',#{search},'%') or description like CONCAT('%',#{search},'%') or content like CONCAT('%',#{search},'%'))
        </if>
    </select>
    <select id="getTotalNews" resultType="int">
        select count(*) FROM index_news where 1=1
        <if test="keyword != null">
            <if test="keyword != '0'.toString() and keyword != '1'.toString()">
                AND kind = #{keyword}
            </if>
        </if>

        <if test="keyword != '1'.toString()">
            AND level > 0
        </if>
    </select>

    <delete id="deleteBatchNews">
        delete from index_news where id in
        <foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </delete>

    <select id="findNewsImg" resultMap="NewsBaseMap">
        select * from index_news where id = #{id}
    </select>


    <select id="findByIdNews" resultMap="NewsBaseMap">
        select * FROM index_news where id = #{newsId}
    </select>

    <select id="fingCountBigImage" parameterType="int" resultType="int">
        select count(*) from index_news where level = #{level}
    </select>

    <select id="getdelectImageAdd" resultType="java.lang.String">
        select first_picture from index_news where id in
        <foreach collection="array" open="(" close=")" separator="," item="ids">
            #{ids}
        </foreach>
    </select>

</mapper>